[submodule "External/toml11"]
	path = External/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "External/rapidjson"]
	path = External/rapidjson
	url = https://github.com/Tencent/rapidjson.git
